

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    color: rgb(24, 11, 30);
        
    background: rgb(45, 55, 55); 
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
	display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
}

a:hover,
a:focus {
	text-shadow: 4px 4px 4px rgba(100,100,100,0.9);
	
	/*-webkit-transform: translateX(-50px) rotate(-10deg) scale(1.2);
    -moz-transform:    translateX(10px);
    -ms-transform:     translateX(10px);
    -o-transform:      translateX(10px);
    transform:         translateX(10px);
    
	-webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;*/
}


.step {
    /*position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;*/
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.0;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }



#main_avatar_container{
	display: none;
}


#avatar{
	/*position : absolute;*/
}
#canvas_container {
	width : 100%;
}

#chat_text_container{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width : 100%;
}
#chat_text {
	background: rgb(15, 15, 15);
	color:white;
	font-family:"Comic Sans MS";
	
	margin-left : 24%;
	width:55%;
	/*float: right;*/
	font-size : 1.5em;
	height : 1.4em;
	text-align:center;
}
.typeahead{
	width:35%;
	background : black;
	font-family:"Comic Sans MS";
	font-size:1.3em;
	text-align:center;
}


#content{
	border-radius : 50px;
	-moz-border-radius: 50px;
	padding : 40px;
	
	box-shadow: 50px 50px 50px #000000;
	
	width : 75em;
	height : 40em;
	background : #CCC;
	/*opacity:1.0;*/
}
#content .top_row{
	height:40%;
}
#map_content{
	width : 40%;
	height : 100%;
}
#video_content{
	background : white;
}
#twitter_content{
	background : transparent;	
}
.carousel-inner{
	height:100%;
}
#news_content{
	background : #EEFFFF;
	height:22em;
	border-style:outset;
	border-width:5px;
}
.news_item{
	width:100%;
	height:100%;
}
.news_title{
	font-size:2em;
	font-family:"Georgia";
	background-color:rgba(0,0,0,0.7);
	color:white;
	padding:10px;
	cursor : pointer;
}
.news_content{
	background:transparent;
}
.news_date{
	position:absolute;
	font-size:1.4em;
	font-family:"Comic Sans MS";
	background-color:rgba(0,0,0,0.9);
	font-weight:bolder;
	right : 5px;
	bottom : 5px;
	padding : 3px;
	color:white;
}

::-webkit-input-placeholder {
	opacity:0.3;
	text-align:center;
	padding-top:5px;
}
:-moz-placeholder {
	opacity:0.3;
	text-align:center;
	padding-top:5px;    
}
:-ms-input-placeholder {
	opacity:0.3;
	text-align:center;
	padding-top:5px;
}


.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }


#progress{
	display : none;
	width : 10em;
	
	position : fixed;
	top : 30%;
	left : 25%;
	
	text-align:center;
	
	/*background:transparent;*/
	color : #FFFFFF;
	font-family:"Comic Sans MS";
	font-size : 4em;
}

#wordcloud_control{
	display: none;
}

#topic_title{
	padding-top : 5px;
	font-size : 2em;
	font-family : "Impact";
}

#last_wordcloud_update{
	padding-top : 12%;
	padding-left : 2%;
}

#twit_modal_title{
	font-family: Impact;
	font-size : 1.3em;
	background : rgb(230,240,230);
}
.twit_list_item{
	position:relative;
	width : 100%;
	height : 5em;
	/*background :#EEFFFF;*/
	padding : 2px;
	border-bottom:1px solid rgba(130,130,110,140);
}

.twit_list_item_pic{
	float:left;
	width : 50px;
	height : 55px;
}
.twit_list_item_text{
	float:left;
	width : 90%;
}
.twit_list_item_username{
	position : absolute;
	bottom : 5px;
	font-weight: bolder;
}
.twit_list_item_created{
	position : absolute;
	font-size : 14px;
	bottom : 5px;
	right : 5px;
}
#back_to_avatar{
	display:none;
	font-size : 1.2em;
	margin-left : 20px;
	margin-bottom : 5px;
	font-weight:bolder;
	cursor:pointer;
	text-decoration:underline;
}
