<div class="fallback-message">
    <p>
        Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.
    </p>
    <p>
        For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.
    </p>
</div>
<div id="impress">
    
    <!-- <div id="title" class="step" data-x="0" data-y="0">
        <p>James Chong Web space</p>
    </div> -->
    
    <div id="bored" class="step" data-x="-600" data-y="-1000" data-z="0" data-rotate-y="-45">
        <a href="#/source">About <span class="push-in">Me</span> </a>
    </div>
    
    <div id="aaa" class="step" data-x="-600" data-y="-900" data-z="0" data-rotate-y="-90">
        <p>History</p>
    </div>
    
    <div id="bbb" class="step" data-x="-600" data-y="-800" data-z="0" data-rotate-y="-135">
        <p>Game Start</p>
    </div>
   
    <div id="ccc" class="step" data-x="-600" data-y="-700" data-z="0" data-rotate-y="-180">
        <p>Oh My God</p>
    </div>
    
</div>

<!--<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>-->
<script src="scripts/lib/impress.js"></script>
<script>
    impress().init();
</script>