<div class="fallback-message">
    <p>
        Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.
    </p>
    <p>
        For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.
    </p>
</div>
<script src="scripts/loader.js"></script>

<div id="canvas_container"/>

<!-- <div id="impress">
    <div id="wei3hua2_avatar" class="step">
        <img src="http://www.gravatar.com/avatar/b176455038342d7b15d7603114b5df59.png?size=250"/>
    </div>
    <div id='chat_box' class="step">
        <input type="box"/>
    </div>
</div> -->
