<!-- <div class="fallback-message">
    <p>
        Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.
    </p>
    <p>
        For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.
    </p>
</div> -->

<div id="progress-container">
  Loading...
</div>

<script src="scripts/loader.js"></script>
<div id="main">
    <div id="main_canvas_container">
        <div id="canvas_container"/>
    </div>
    <div id="chat_text_container">
        <input id="chat_text" type="text" placeholder="type here" class="input-xlarge"/>
    </div>
</div>