


<div class="fallback-message">
    <p>
        Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.
    </p>
    <p>
        For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.
    </p>
</div>

<div id="impress">
    <div class="main_title step">
        <img src="http://www.gravatar.com/avatar/b176455038342d7b15d7603114b5df59.png?size=250"/>
    </div>
    
    <!--  <div id="applications" class="step" data-x="-600" data-y="-1000" data-z="0" data-rotate-y="-90" data-scale="10">
        <a href="#/source">Applications</a>
    </div>
    
    <div id="games" class="step" data-x="-600" data-y="500" data-z="0" data-rotate-y="-90" data-scale="10">
        <a href="#/main">Games</a>
    </div>
   
    <div id="about" class="step" data-x="-600" data-y="2000" data-z="0" data-rotate-y="-90" data-scale="10">
        <p>Who am i</p>
    </div>
    
    <div id="main" data-x="-600" data-y="-500" data-z="0" data-rotate-y="-90" data-scale="1">
        <p>main</p>
    </div> -->
    
</div>



<!--<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>-->
<script src="scripts/loader.js"></script>
