<div class="modal hide fade" id="twit_list_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            ×
        </button>
        <h3 id="twit_modal_title"></h3>
    </div>
    <div id="twit_list" class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>